
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap');

*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: Grandstander, sans-serif;
}

body{
    background-color:#04253d;
}

header{
    background-color: white;
}



header > h1 {
color:#04253d;
text-align: center;
font-family: Grandstander, sans-serif;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background:#e05750;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label{
    position:absolute;
    top: 20px;
    left: -25px;
}

#computer-label{
    position:absolute;
    top: 20px;
    left: 155px;
}

.result{
font-size: 40px;
color:white;
}

.result > p {
    font-weight: bold;
    text-align: center;
}




.choices{
    text-align:center;
    margin-top: 50px
}
.choice {
    display: inline-block;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    transition: all 0.25s ease-in-out;
}

.choice:hover{
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.685);
}

#action-message{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}



.green-glow { 
    border: 10px solid green;
    box-shadow: 0 0 10px darkgreen;;
}

.red-glow {
    border: 10px solid red;
    box-shadow: 0 0 10px darkred;
}

.yellow-glow {
    border: 10px solid yellow;
    box-shadow: 0 0 10px rgba(168, 168, 9, 0.712);
}


.reset{
    
    background-color: honeydew;
    width: 80px;
    position: center;
    text-align:center;
    align-items: center;
    margin-top: 50px;
    display: block;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.25s ease-in-out;
    }

    .reset:hover{
        cursor: pointer;
        background-color:red;
    }
    